				</article>
				<!-- /.<%= getArticleClass('.'); %> -->
			</main>
			<!-- /#primary -->
			<div class="c-pagetop js-pagetop">
				PAGE TOP
			</div>
			<!-- /#pagetop -->
		</div>
		<!-- /#content -->
		<footer class="l-footer">
			<div class="l-footer__inner">
				<div class="l-footer__contents">
					<p class="l-footer__copyright">©ANDCO</p>
				</div>
			</div>
		</footer> 
		<!-- /#footer -->
	</div>
	<!-- /#all -->
	<script src="<%= getRelativePath('/js/jquery-3.6.0.min.js'); %>"></script>
	<script src="<%= getRelativePath('/js/script.js'); %>"></script>
	<% if(getPageId() == 'index') { %>  
		<script src="<%= getRelativePath('/js/slick.min.js'); %>"></script>
		<script src="<%= getRelativePath('/js/index.js'); %>"></script>
	<% } %>
</body>
</html>