<%- include('_config', { extend: {
	relativePath: '.',
	page: {
		id: 'index',
		title: 'TOPページ',
		description: 'TOPページです',
	}
}}); %><%- include('_header'); %>
	<section class="p-top__view">
		<div class="l-inner">
			<div class="p-top__view__content">
				<h2 class="c-heading1 --fs1">
					We design engaging digital products <br>
					used by millions of people
				</h2>
				<p class="c-text">
					We team up with marketing departments of large companies and startups to deliver award‑winning websites
				</p>
				<div class="p-top__view__card">
					<div class="c-card">
						<div class="c-card__list">
							<div class="c-card__item">
								<div class="c-card__item__icon">
									<img src="<%= getRelativePath('/images/index/icon/rocket.svg'); %>" alt="">
									<span>Branding</span>
								</div>
								<p class="c-card__item__detail">
									We design digital platforms to empower
									users and your brand's tribe.
								</p>
							</div>
							<div class="c-card__item">
								<div class="c-card__item__icon">
									<img src="<%= getRelativePath('/images/index/icon/layers.svg'); %>" alt="">
									<span>Development</span>
								</div>
								<p class="c-card__item__detail">
									We design digital platforms to empower
									users and your brand's tribe.
								</p>
							</div>
							<div class="c-card__item">
								<div class="c-card__item__icon">
									<img src="<%= getRelativePath('/images/index/icon/chart.svg'); %>" alt="">
									<span>Strategy</span>
								</div>
								<p class="c-card__item__detail">
									We design digital platforms to empower
									users and your brand's tribe.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="p-top__view__btn">
					<a href="" class="c-btn --edit">View Our Services</a>
				</div>
				<div class="p-top__view__industry">
					<div class="c-brand">
						<div class="c-brand__title">
							<h3 class="c-brand__heading">Working with the most trusted brands in the industry</h3>
						</div>
						<div class="c-brand__logo">
							<a href="#" target="_blank" class="c-brand__logo__item">
								<img class="google" src="<%= getRelativePath('/images/index/icon/google.svg'); %>" alt="google">
							</a>
							<a href="#" target="_blank" class="c-brand__logo__item">
								<img class="netflix" src="<%= getRelativePath('/images/index/icon/netflix.svg'); %>" alt="netflix">
							</a>
							<a href="#" target="_blank" class="c-brand__logo__item">
								<img class="slack" src="<%= getRelativePath('/images/index/icon/slack.svg'); %>" alt="slack">
							</a>
							<a href="#" target="_blank" class="c-brand__logo__item">
								<img class="intercom" src="<%= getRelativePath('/images/index/icon/intercom.svg'); %>" alt="intercom">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="p-top__digital">
		<div class="l-inner">
			<div class="p-top__digital__content">
				<h2 class="c-heading1 --fs3">Digital products that people love to use</h2>
				<p class="c-text">Applying behavioral science to customer experience</p>
				<div class="p-top__digital__product">
					<div class="c-product">
						<div class="c-product__list">
							<div class="c-product__item">
								<div class="c-product__item__banner">
									<div class="c-product__item__img">
										<img src="<%= getRelativePath('/images/index/product/banner.jpg'); %>" alt="">
									</div>
									<span class="top">
										<img src="<%= getRelativePath('/images/index/product/banner_top.jpg'); %>" alt="">
									</span>
									<span class="shape">
										<img src="<%= getRelativePath('/images/index/product/shape.png'); %>" alt="">
									</span>
									<span class="bottom"> 
										<img src="<%= getRelativePath('/images/index/product/banner_bottom.png'); %>" alt="">
									</span>
								</div>
								<div class="c-product__item__content">
									<h3 class="c-product__item__title">Web3 Experience Design</h3>
									<p class="c-product__item__text">
										In the new digital era, users are in control of content and community, 
										and experience design is essential.
									</p>
									<ul class="c-product__item__list">
										<li class="c-product__item__detail">
											<span class="c-product__item__icon">
												<img src="<%= getRelativePath('/images/index/product/icon1.svg'); %>" alt="">
											</span>
											<div class="c-product__item__info">
												<h4 class="c-product__item__label">Design & Development Systems</h4>
												<p class="c-product__item__desc">
													Chat, start meetings or join them with a click from within
													your conversation.
												</p>
											</div>
										</li>
										<li class="c-product__item__detail">
											<span class="c-product__item__icon">
												<img src="<%= getRelativePath('/images/index/product/icon2.svg'); %>" alt="">
											</span>
											<div class="c-product__item__info">
												<h4 class="c-product__item__label">Digital Growth Strategy</h4>
												<p class="c-product__item__desc">
													Chat, start meetings or join them with a click from within
													your conversation.
												</p>
											</div>
										</li>
										<li class="c-product__item__detail">
											<span class="c-product__item__icon">
												<img src="<%= getRelativePath('/images/index/product/icon3.svg'); %>" alt="">
											</span>
											<div class="c-product__item__info">
												<h4 class="c-product__item__label">User Journey Mapping</h4>
												<p class="c-product__item__desc">
													Chat, start meetings or join them with a click from within 
													your conversation.
												</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="c-product">
						<div class="c-product__list">
							<div class="c-product__item reverse">
								<div class="c-product__item__banner">
									<div class="c-product__item__img reverse">
										<img src="<%= getRelativePath('/images/index/product/banner1.jpg'); %>" alt="">
									</div>
									<span class="top reverse">
										<img src="<%= getRelativePath('/images/index/product/banner_top.jpg'); %>" alt="">
									</span>
									<span class="shape reverse">
									</span>
									<div class="c-product__itemCard">
										<span class="date">Projects May 2022</span>
										<span class="dola">$22,700</span>
										<span class="percent">+10%</span>
										<div class="c-product__itemCard__icon">
											<!-- <img src="<%= getRelativePath('/images/index/product/cat_icon1.svg'); %>" alt=""> -->
											<img src="<%= getRelativePath('/images/index/product/cat_icon2.svg'); %>" alt="">
											<img src="<%= getRelativePath('/images/index/product/cat_icon3.svg'); %>" alt="">
										</div>
										<div class="c-product__itemCard__bar">
											<span></span>
										</div>
									</div>
								</div>
								<div class="c-product__item__content">
									<h3 class="c-product__item__title">We create world-class products</h3>
									<p class="c-product__item__text">
										We're a web design agency creating next‑level websites by strategically blending user experience and brand storytelling.
									</p>
									<p class="c-product__item__text edit">
										Our full‑stack design and development agency based in San Francisco provides front‑end and back‑end development services working closely with our designers. As a UX UI and app development company, we build native mobile apps for iOS and Android, web applications, apps for wearables, and B2B/enterprise software.
									</p>
									<div class="c-product__item__btn">
										<a href="" class="">
											Discover Now
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="c-product">
						<div class="c-product__list">
							<div class="c-product__item">
								<div class="c-product__item__banner">
									<div class="c-product__item__img">
										<img src="<%= getRelativePath('/images/index/product/banner2.jpg'); %>" alt="">
									</div>
									<span class="top">
										<img src="<%= getRelativePath('/images/index/product/banner_top.jpg'); %>" alt="">
									</span>
									<span class="shape">
										<img src="<%= getRelativePath('/images/index/product/shape.png'); %>" alt="">
									</span>
									<span class="bottom"> 
										<img src="<%= getRelativePath('/images/index/product/banner_bottom1.png'); %>" alt="">
									</span>
								</div>
								<div class="c-product__item__content">
									<h3 class="c-product__item__title">UI/UX design and branding agency</h3>
									<p class="c-product__item__text">
										We start each new digital product design partnership with an in‑depth discovery phase to immerse ourselves in your business. Our UX/UI designers interview stakeholders, conduct user research, analyze your competition, and consolidate content.
									</p>
									<p class="c-product__item__text edit">
										The result is an action plan on executing a holistic brand and user experience.
									</p>
									<div class="c-product__item__btn">
										<a href="" class="">
											Our Services
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="p-top__view">
		<div class="l-inner">
			
		</div>
	</section>
	<section class="p-top__view">
		<div class="l-inner">
			
		</div>
	</section>
	<section class="p-top__view">
		<div class="l-inner">
			
		</div>
	</section>
	<section class="p-top__view">
		<div class="l-inner">
			
		</div>
	</section>
	<section class="p-top__view">
		<div class="l-inner">
			
		</div>
	</section>
<%- include('_footer'); %>
